.nweet {
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
  width: calc(100% - 16px);
  max-width: var(--max-width);
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.nweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--my-blue);
}

.nweet__actions span {
  cursor: pointer;
}

.nweet__actions span:first-child {
  margin-right: 10px;
}